.panel {
   margin-bottom: 2px;
}
.container {
    width: 300px;
}
.row {
   margin-top: 3px;
}
.nag {
   text-align: right; 
   height: 34px;
   padding: 6px 0px;
   line-height: 1.42857;
}

th {
	font-size: 30px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 3px;
}

a {
	color: black;
	padding: 3px;
	font-size: 20px;
}

input {
	color: black;
	padding: 3px;
}

.bs-sidebar.affix, .bs-sidebar.affix-bottom {
	width: 215px;
}