.panel {
   margin-bottom: 2px;
}
.container {
    width: 300px;
}
.row {
	color: white;
	font-weight: bold;
   margin-top: 3px;
   margin-left: 60px;
   padding-left: 5px;
}
.nag {
   text-align: right; 
   height: 34px;
}

.col-md-7 {
	padding-left: 3px;
}

.form-control {
	padding-left: 5px;
}

#mainForm {
	background-image: url("logowanie.png"); 
	background-repeat: no-repeat;
	display: block;
	margin: auto;
	width: 567px;
	height: 425px;
}

#stopka {
	text-align: center;
}