body {
	color: lightgray;
}

.th-inner {
	background-color: black;
}

.panel {
	background-color: black;
}

.cell{
    white-space:nowrap;
}

li > span {
	color:blue;
	font-weight:bold;
	font-size:16px;
}

div.modal-body {
	padding-bottom:0;
}

.col-md-12 {
	padding:0;
}

.bootstrap-table .table {
	border: 3px double #ddd;
	margin-bottom: 10px!important;
}
