body {
	color: lightgray;
}

.th-inner {
	background-color: black;
}

.panel {
	background-color: black;
}

.cell{
    white-space:nowrap;
}

li > span {
	color:blue;
	font-weight:bold;
	font-size:16px;
}

div.modal-body {
	padding-bottom:0;
}

.col-md-12 {
	padding:0;
}

.bootstrap-table .table {
	border: 3px double #ddd;
	margin-top: 3px !important;
	margin-bottom: 5px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 0px solid #ddd;
    /* padding: 8px;
    /* line-height: 1.428571429;
    /* vertical-align: top;
}
